.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  border: 2px solid #11aa9b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3em;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &__icon {
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
    &--right {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
.storybook-button--primary {
  color: white;
  background: #11aa9b;
  &:hover {
    animation-timing-function: ease-in-out;
    animation-duration: 250ms;
    background: linear-gradient(180deg, #11aa9b 0%, #7d7d7d 100%);
    box-shadow: 0px 1px 8px rgba(50, 50, 50, 0.25);
  }
}
.storybook-button--secondary {
  color: #11aa9b;
  background-color: transparent;
  &:hover {
    border: none;
      padding-top: 12px;
      padding-bottom: 12px;
      color: white;
      background: linear-gradient(180deg, #11aa9b 0%, #7d7d7d 100%);
      /* Card Drop Shadow */
      box-shadow: 0px 1px 8px rgba(50, 50, 50, 0.25);
  }
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
