.expandable {
  text-indent: 0px;
  &__button {
    outline: none;
    padding: 12px 0 12px 28px;
    width: 100%;
    font-size: 0.75rem;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    border: none;
    background: #ffffff url('https://phillips.vo.llnwd.net/v1/web_prod/images/layout/aside-icons.png');
    background-size: 50px 1250px;
    background-repeat: no-repeat;
    background-position: -10px -58px;
    @media (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 2) {
      background: #ffffff url('https://phillips.vo.llnwd.net/v1/web_prod/images/layout/aside-icons-2x.png');
      background-size: 50px 1250px;
      background-position: -9px -59px;
      background-repeat: no-repeat;
    }
    &__closed {
      background-position: -10px -158px;
      @media (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 2) {
        background-position: -10px -159px;
      }
    }
  }
}

.panel {
  &-wrapper {
    padding: 0;
    list-style: none;
  }
  padding: 0 15px;
  transition: height 200ms;
  overflow: hidden;
  margin-left: 0;
  &__closed {
    height: 0;
  }
}